<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.1.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd"
			xmlns:mvc="http://www.springframework.org/schema/mvc">
	
<!-- 	<bean id="greetingAround" class="com.depression.interceptors.api.GreetingInterceptor"></bean>
	<bean id="greetingBefore" class="com.depression.interceptors.api.GreetingBeforeAdvice"></bean>
	<bean id="greetingAfter" class="com.depression.interceptors.api.GreetingAfterAdvice"></bean>
	<bean id="target" class="com.depression.interceptors.api.NativeWaiter"></bean>
	<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean" 
	p:proxyInterfaces="com.depression.interceptors.api.Waiter"
	p:interceptorNames="greetingAround"
	p:target-ref="target"/> -->
	
	
<!-- 	
	<bean id="waiterTarget" class="com.depression.interceptors.aop.Waiter"></bean>
	<bean id="sellerTarget" class="com.depression.interceptors.aop.Seller"></bean>
	<bean id="greetingAdvice" class="com.depression.interceptors.aop.GreetingBeforeAdvice"></bean>
	<bean id="greetingAdvisor" class="com.depression.interceptors.aop.GreetingAdvisor"
		  p:advice-ref="greetingAdvice"/>
	<bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="greetingAdvisor"
		  p:proxyTargetClass="true"/>
	<bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>
	<bean id="seller" parent="parent" p:target-ref="sellerTarget"/>
	 -->
	
	<bean id="waiterTarget" class="com.depression.interceptors.aop.Waiter"></bean>
	<bean id="sellerTarget" class="com.depression.interceptors.aop.Seller"></bean>
	<bean id="greetingAdvice" class="com.depression.interceptors.aop.GreetingBeforeAdvice"></bean>
	<bean id="greetingAdvisor" class="com.depression.interceptors.aop.GreetingAdvisor"
		  p:advice-ref="greetingAdvice"/>
	<bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:interceptorNames="greetingAdvisor"
		  p:proxyTargetClass="true"/>
	<bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>
	<bean id="seller" parent="parent" p:target-ref="sellerTarget"/>
		  
</beans>