<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.depression.dao.EapUserMapper" >
  <resultMap id="BaseResultMap" type="com.depression.model.eap.vo.EapUserVO" >
    <id column="eap_user_id" property="eapUserId" jdbcType="BIGINT" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
    <result column="ee_id" property="eeId" jdbcType="BIGINT" />
    <result column="show_name" property="showName" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="eap_password" property="eapPassword" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="spare_int" property="spareInt" jdbcType="INTEGER" />
    <result column="spare_char" property="spareChar" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    eap_user_id, user_type, ee_id, show_name, mobile_phone, username, eap_password, create_time, 
    modify_time, is_enable, is_delete, remark, spare_int, spare_char
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from eap_user
    where eap_user_id = #{eapUserId,jdbcType=BIGINT}
  </select>
  <select id="selectBymobilePhone" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from eap_user
    where mobile_phone = #{mobilePhone,jdbcType=VARCHAR}  
    </select>
  <select id="selectSelective" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 12 11:24:07 CST 2016.
    -->
    select * from eap_user
    <where>
      is_delete = 0
      <if test="userType != null">
        and user_type = #{userType,jdbcType=TINYINT}
      </if>
      <if test="eeId != null">
        and ee_id = #{eeId,jdbcType=BIGINT}
      </if>
      <if test="showName != null">
        and show_name = #{showName,jdbcType=VARCHAR}
      </if>
      <if test="mobilePhone != null">
        and mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
      </if>
      <if test="username != null">
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="eapPassword != null">
        and eap_password = #{eapPassword,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isEnable != null">
        and is_enable = #{isEnable,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <select id="selectByPage" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 12 11:24:07 CST 2016.
    -->
    select * from eap_user
    <where>
      is_delete = 0
      <if test="userType != null">
        and user_type = #{userType,jdbcType=TINYINT}
      </if>
      <if test="eeId != null">
        and ee_id = #{eeId,jdbcType=BIGINT}
      </if>
      <if test="showName != null">
        and show_name = #{showName,jdbcType=VARCHAR}
      </if>
      <if test="mobilePhone != null">
        and mobile_phone like CONCAT(CONCAT('%',#{mobilePhone}),'%')
      </if>
      <if test="username != null">
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="eapPassword != null">
        and eap_password = #{eapPassword,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isEnable != null">
        and is_enable = #{isEnable,jdbcType=TINYINT}
      </if>
    </where>
    order by user_type DESC limit #{pageStartNum},#{pageSize}
  </select>
  <select id="selectCountByEapUser" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 12 11:24:07 CST 2016.
    -->
    select count(*) from eap_user
    <where>
      is_delete = 0
      <if test="userType != null">
        and user_type = #{userType,jdbcType=TINYINT}
      </if>
      <if test="eeId != null">
        and ee_id = #{eeId,jdbcType=BIGINT}
      </if>
      <if test="showName != null">
        and show_name = #{showName,jdbcType=VARCHAR}
      </if>
      <if test="mobilePhone != null">
        and mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
      </if>
      <if test="username != null">
         and mobile_phone like CONCAT(CONCAT('%',#{mobilePhone}),'%')
      </if>
      <if test="eapPassword != null">
        and eap_password = #{eapPassword,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isEnable != null">
        and is_enable = #{isEnable,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from eap_user
    where eap_user_id = #{eapUserId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.depression.model.eap.vo.EapUserVO" >
    insert into eap_user (eap_user_id, user_type, ee_id, 
      show_name, mobile_phone, username, 
      eap_password, create_time, modify_time, 
      is_enable, is_delete, remark, 
      spare_int, spare_char)
    values (#{eapUserId,jdbcType=BIGINT}, #{userType,jdbcType=TINYINT}, #{eeId,jdbcType=BIGINT}, 
      #{showName,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{eapPassword,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{isEnable,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{spareInt,jdbcType=BIGINT}, #{spareChar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.depression.model.eap.vo.EapUserVO" >
    insert into eap_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eapUserId != null" >
        eap_user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="eeId != null" >
        ee_id,
      </if>
      <if test="showName != null" >
        show_name,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="eapPassword != null" >
        eap_password,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="spareInt != null" >
        spare_int,
      </if>
      <if test="spareChar != null" >
        spare_char,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eapUserId != null" >
        #{eapUserId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="eeId != null" >
        #{eeId,jdbcType=BIGINT},
      </if>
      <if test="showName != null" >
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="eapPassword != null" >
        #{eapPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null" >
        #{spareInt,jdbcType=BIGINT},
      </if>
      <if test="spareChar != null" >
        #{spareChar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.depression.model.eap.vo.EapUserVO" >
    update eap_user
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="eeId != null" >
        ee_id = #{eeId,jdbcType=BIGINT},
      </if>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="eapPassword != null" >
        eap_password = #{eapPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null" >
        spare_int = #{spareInt,jdbcType=BIGINT},
      </if>
      <if test="spareChar != null" >
        spare_char = #{spareChar,jdbcType=VARCHAR},
      </if>
    </set>
    where eap_user_id = #{eapUserId,jdbcType=BIGINT}
  </update>
  <update id="updateBymobilePhone" parameterType="com.depression.model.eap.vo.EapUserVO" >
    update eap_user
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="eeId != null" >
        ee_id = #{eeId,jdbcType=BIGINT},
      </if>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>   
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="eapPassword != null" >
        eap_password = #{eapPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="spareInt != null" >
        spare_int = #{spareInt,jdbcType=BIGINT},
      </if>
      <if test="spareChar != null" >
        spare_char = #{spareChar,jdbcType=VARCHAR},
      </if>
    </set>
    where mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
  </update>
  <update id="updateByEeId" parameterType="com.depression.model.eap.vo.EapUserVO" >
    update eap_user
    <set>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>   
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>   
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>   
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>    
    </set>
    where     user_type = #{userType,jdbcType=TINYINT}
    and   ee_id = #{eeId,jdbcType=BIGINT}         
  </update>
  <update id="updateByPrimaryKey" parameterType="com.depression.model.eap.vo.EapUserVO" >
    update eap_user
    set user_type = #{userType,jdbcType=TINYINT},
      ee_id = #{eeId,jdbcType=BIGINT},
      show_name = #{showName,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      eap_password = #{eapPassword,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_enable = #{isEnable,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      spare_int = #{spareInt,jdbcType=BIGINT},
      spare_char = #{spareChar,jdbcType=VARCHAR}
    where eap_user_id = #{eapUserId,jdbcType=BIGINT}
  </update>
</mapper>